<div id="page-wrapper">
  <div class="container-fluid">
    <h2 class="page-header">欢迎进入图表示例</h2>
    <div id="charts" style="width: 600px;height:400px;">
    </div>

  </div>
  <!-- /.container-fluid -->
</div>
